<footer>
        <div class="row container4">
            <div class="col-md-3">
                <h2>GIỚI THIỆU</h2>
                <span class="span1"><i class="fas fa-angle-double-right my-3 mr-1"></i>VỀ CHÚNG TÔI</span><br>
                <span class="span1"><i class="fas fa-angle-double-right my-3 mr-1"></i>THỎA THUẬN SỬ DỤNG</span><br>
                <span class="span1"><i class="fas fa-angle-double-right my-3 mr-1"></i>QUY CHẾ HOẠT ĐỘNG</span><br>
                <span class="span1"><i class="fas fa-angle-double-right my-3 mr-1"></i>CHÍNH SÁCH BẢO MẬT</span><br>
            </div>
            <div class="col-md-3">
                <h2>GÓC ĐIỆN ẢNH</h2>
                <span class="span1"><i class="fas fa-angle-double-right my-3 mr-1"></i>THỂ LOẠI PHIM</span><br>
                <span class="span1"><i class="fas fa-angle-double-right my-3 mr-1"></i>BÌNH LUẬN PHIM</span><br>
                <span class="span1"><i class="fas fa-angle-double-right my-3 mr-1"></i>BLOG ĐIỆN ẢNH</span><br>
                <span class="span1"><i class="fas fa-angle-double-right my-3 mr-1"></i>PHIM HAY THÁNG</span><br>
            </div>
            <div class="col-md-3">
                <h2>HỖ TRỢ</h2>
                <span class="span1"><i class="fas fa-angle-double-right my-3 mr-1"></i>GÓP Ý</span><br>
                <span class="span1"><i class="fas fa-angle-double-right my-3 mr-1"></i>SALE & SERVICE</span><br>
                <span class="span1"><i class="fas fa-angle-double-right my-3 mr-1"></i>RẠP / GIÁ VÉ</span><br>
                <span class="span1"><i class="fas fa-angle-double-right my-3 mr-1"></i>TUYỂN DỤNG</span><br>
            </div>
            <div class="col-md-3">
                <h2>KẾT NỐI</h2>
                <i class="icon fab fa-facebook"></i><i class="icon fab fa-youtube"></i><i class="icon fab fa-instagram"></i>
                <h2 class="mt-3 download">DOWNLOAD APP</h2>
                <i class="icon fab fa-apple"></i><i class="icon fab fa-google-play"></i>
            </div>
        </div>
    </footer>