<app-header></app-header>
<app-slider></app-slider>
<div class="scroll">
    <img style="width: 100%" src="../../../assets/image/loaiPhim/scroll-down.png" alt="">
</div>
<div class="bgChung">
    <div class="contentTinTuc" [ngSwitch]="id">
        <div *ngSwitchCase="1" class="spiderManID1">
            <h1>SPIDER-MAN: FAR FROM HOME HỨA HẸN SẼ TRỞ THÀNH BOM TẤN THÚ VỊ NHẤT NĂM 2019</h1>
            <p>Spider-Man: Far From Home (Tựa Việt: Spider-Man: Người Nhện xa nhà) là phần tiếp theo của bộ phim
                Spider-Man:
                Homecoming và là tác phẩm mang nhiệm vụ đặt dấu chấm hết cho Hồi thứ 3 của Vũ trụ Điện ảnh Marvel (MCU).
                Bộ
                phim
                xoay quanh chuyến đi du lịch đến Châu Âu đầy “bão tố” của Peter Parker khi giữa lúc cậu bé đang vui vẻ
                cùng
                với
                bạn bè thì những tên ác nhân Elementals hùng mạnh bỗng nhiên xuất hiện để xâm chiếm Trái Đất. Nguyên
                nhân
                cho sự
                xuất hiện của nhóm Elementals chính là do cú búng tay vô cực của Thanos vào năm năm trước. Khi đó, hành
                động
                này
                đã xé một lỗ hổng không gian đủ lớn để những kẻ phản diện từ một Trái Đất khác có thể đến được với chiều
                thực
                tại của đội Avengers. Là thành viên duy nhất của Biệt đội còn đang hoạt động tại Trái Đất, Peter Parker
                không
                còn sự lựa chọn nào khác ngoài việc đứng ra đảm nhận nhiệm vụ bảo vệ thế giới.</p>
            <div class="img">
                <img src="../../../assets/image/tinTucPhim/spiderMan/poster.jpg" alt="">
            </div>
            <span>Poster chính thức của bộ phim.</span>
            <p>Vào chiều ngày 26/06/2019 theo giờ địa phương, buổi lễ công chiếu bộ phim Spider-Man: Far From Home đã
                diễn
                ra
                tại thành phố Los Angeles, Hoa Kỳ. Thảm đỏ của buổi công chiếu có sự góp mặt của dàn diễn viên quen
                thuộc từ
                phần phim trước như Tom Holland (Spider-Man), Samuel L. Jackson (Nick Fury), Zendaya (MJ) và Cobie
                Smulders
                (Dì
                May). Ngoài ra, sức nóng của sự kiện còn tăng vọt khi hàng loạt ngôi sao kỳ cựu cũng đã chính thức gia
                nhập
                vũ
                trụ MCU như Jake Gyllenhaal (Mysterio) và J. B. Smoove (Mr. Bell).</p>
            <div class="img">
                <img src="../../../assets/image/tinTucPhim/spiderMan/1.jpg" alt="">
            </div>
            <span>“Nhện nhí” Tom Holland cực bảnh trai trong bộ suit tím.</span>
            <div class="img">
                <img src="../../../assets/image/tinTucPhim/spiderMan/2.jpg" alt="">
            </div>
            <span>Nữ diễn viên Zendaya trở thành trung tâm của sự chú ý nhờ vào bộ đầm lấy cảm hứng từ suit chiến đấu
                của
                Spider-Man.</span>
            <div class="img">
                <img src="../../../assets/image/tinTucPhim/spiderMan/3.jpg" alt="">
            </div>
            <span>Nam diễn viên Samuel L. Jackson trở lại với vai diễn Nick Fury. Đây sẽ là lần đầu tiên Spider-Man phải
                làm
                việc trực tiếp với ông trùm của tổ chức S.H.I.E.L.D.</span>
            <div class="img">
                <img src="../../../assets/image/tinTucPhim/spiderMan/4.jpg" alt="">
            </div>
            <span>Tài tử Jake Gyllenhaal cực lịch lãm. Anh sẽ hóa thân thành Mysterio.</span>
            <div class="img">
                <img src="../../../assets/image/tinTucPhim/spiderMan/5.jpg" alt="">
            </div>
            <span>Dì May Cobie Smulders xinh đẹp trong bộ váy hồng</span>
            <p>Cũng trong buổi công chiếu này, ekip sản xuất bộ phim Spider-Man: Far From Home đã có những lời nhận xét
                nhanh về
                tác phẩm mới nhất thuộc Vũ trụ MCU. Nam diễn viên thủ vai Spider-Man – Tom Holland – chia sẻ ngắn gọn
                rằng ở
                phần phim riêng thứ hai này, Spider-Man sẽ có một diện mạo và chiều sâu hoàn toàn khác biệt. Anh chàng
                cũng
                khuyên khán giả hãy nhanh chóng ra rạp thưởng thức Spider-Man: Far From Home nếu tò mò muốn biết về
                hướng đi
                trong tương lai của MCU.</p>
            <p>Nam tài tử Jake Gyllenhaal thì lại liên tục bày tỏ sự hào hứng của mình khi được góp mặt trong phim riêng
                của
                một
                trong những siêu anh hùng được yêu thích nhất mọi thời đại. Anh cũng khẳng định rằng Spider-Man mới của
                Tom
                Holland sẽ mang đến cho khán giả rất nhiều sự bất ngờ và năng lượng tích cực. </p>

            <div class="img">
                <img src="../../../assets/image/tinTucPhim/spiderMan/6.jpg" alt="">
            </div>
            <h5>
                Spider-Man: Far From Home có suất chiếu đặc biệt trên toàn quốc từ 19h ngày 03.07.2019 và khởi chiếu tại
                các rạp Cinestar trên toàn quốc từ ngày 05.07.2019. Đặc biệt hơn, Spider-Man: Far From Home sẽ có suất
                chiếu đặc biệt vào ngày 03.09.2019 tại toàn bộ hệ thống rạp Cinestar. Nhưng trước tiên hãy cùng Cinestar
                xem lại trailer của phim một lần nữa nhé các bạn.
            </h5>
            <div class="trailer">
                <iframe width="640" height="395" src="https://www.youtube.com/embed/2H-1e4XNLBo" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div *ngSwitchCase="2" class="tuyenDung">
            <h2>PASSION CINEMA- TUYỂN DUNG NHÂN VIÊN PHỤC VỤ KHÁCH HÀNG</h2>
            <p>RẠP CHIẾU PHIM CINESTAR HUẾ TUYỂN NHÂN VIÊN PARTIME </p>
            <b>Hình thức làm việc:</b> Parttime
            <br>
            <br>
            <b>Mô tả công việc: </b>
            <ul>
                <li>Thực hiện công việc phục vụ khách hàng.</li>
                <li>Giao dịch bán vé, bán bắp - nước, kiểm soát vé và hướng dẫn khách hàng xem phim.</li>
                <li>Làm việc bán thời gian, theo ca 6 giờ/ngày.</li>
            </ul>
            <b>Yêu cầu công việc:</b>
            <br>
            <ul>
                <li>Nam/Nữ từ 18-25 tuổi.</li>
                <li>Có tố chất, kỹ năng làm việc trong ngành dịch vụ.</li>
                <li>Siêng năng, tháo vát, trung thực.</li>
                <li>Giao tiếp tốt.</li>
                <li>Làm TẾT được</li>
                <li>Sinh viên các trường đại học không cần kinh nghiệm, chỉ cần yêu thích công việc ở Rạp phim.</li>
            </ul>
        </div>
        <div *ngSwitchCase="3" class="anabel">
            <h1>ANNABELLE: ÁC QUỶ ĐÃ TRỞ LẠI MỘT LẦN NỮA</h1>
            <h5>Annabelle: Creation (ra mắt năm 2017): 1943-1955</h5>
            <p>Lần đầu tiên xuất hiện trong The Conjuring (2013), búp bê ma Annabelle đã gieo rắc những cơn ác mộng kinh
                hoàng cho khán giả. Có thể nói, không chỉ là mảnh ghép của Vũ trụ điện ảnh phim kinh dị The Conjuring,
                Annabelle còn là nhân vật tạo hiệu ứng tốt trên các phương tiện thông tin đại chúng lẫn mạng xã hội.
                Phần phim mới nhất thuộc Vũ trụ The Conjuring có tên gọi Annabelle: Ác Quỷ Trở Về (tên gốc: Annabelle
                Comes Home) tiếp tục khám phá nguồn gốc bí ẩn của món đồ chơi chết người này, cũng như những trò hù dọa
                tiếp theo mà nó “chiêu đãi” khán giả. Để hiểu rõ hơn về vai trò của Annabelle trong phần phim này, hãy
                cùng điểm lại nguồn gốc cũng như sự kết nối giũa con búp bê ma với các bộ phim khác thuộc Vũ trụ The
                Conjuring.</p>
            <p>Dù Annabelle đã có hẳn một bộ phim của riêng mình vào năm 2014, nhưng phải đến 3 năm sau đó,
                <b><i>Annabelle:
                        Creation</i></b> (tựa Việt: Annabelle: Tạo Vật Quỷ Dữ) mới cho người xem lời giải thích cụ thể
                về nguồn gốc của
                một trong những con búp bê kinh dị nhất lịch sử màn ảnh. Mở đầu của <b><i>Annabelle: Tạo Vật Quỷ
                        Dữ</i></b> đã đưa
                khán giả quay ngược về năm 1943 - thời điểm xảy ra tai nạn thương tâm của cô bé Bee, cũng là cô con gái
                rượu bé nhỏ của vợ chồng nhà thợ làm búp bê Mullins. Cặp vợ chồng này có một cô con gái đáng yêu có tên
                Bee, 7 tuổi. Nhưng tai nạn bất ngờ ập đến, cô bé không may qua đời. Quá đau buồn trước cái chết của con
                gái yêu, hai người đã quyết định triệu hồi linh hồn bé bỏng này bằng cách cho phép linh hồn cô bé nhập
                vào con búp bê yêu thích để có thể gặp lại con gái. Nhưng thực tế, đó lại là một thực thể siêu nhiên
                khác đã mượn tạm thân xác búp bê hòng ở lại thế giới này để tước đoạt linh hồn những người còn sống,
                khiến không ít hiện tượng hãi hùng xảy ra trong ngôi nhà. Họ quyết định nhờ tới giáo hội để nhốt con búp
                bê lại.</p>
            <div class="img">
                <img src="../../../assets/image/tinTucPhim/anabel/1.jpg" alt="">
            </div>
            <p>Chuyện còn tồi tệ hơn khi một cô nhi viện trong vùng bị hư hại, một nữ tu sĩ đã cùng vài bé gái mồ côi
                đến xin tạm trú tại nhà của ông bà Mullins. Những vị khách ngây thơ vô tình trở thành con mồi của con
                quỷ vốn đã bị phong ấn nhiều năm. Một ngày, cô bé Janice nghe những tiếng động lạ ở căn phòng của
                Annabelle. Vì tò mò, cô bé vô tình giải thoát cho con búp bê quỷ ám. Từ đó, hàng loạt sự kiện kỳ bí diễn
                ra đe dọa tính mạng của mọi người trong nhà. Sau hàng loạt màn truy đuổi kịch tính, búp bê ma chiếm được
                thân xác của Janice, đổi tên thành Annabelle. Cô bé sau này được nhận nuôi bởi vợ chồng nhà Higgins -
                cũng là hai nhân vật xấu số của tựa phim Annabelle ra mắt năm 2014.</p>
            <h3>Annabelle (ra mắt năm 2014): 1967</h3>
            <p>Theo như những gì hai vợ chồng pháp sư trừ tà Ed và Llorraine Warren giải thích thì bản thân Annabelle
                không phải là một con quỷ, nó chỉ đơn giản là một đường dẫn cho những thế lực hắc ám sử dụng nó để thao
                túng và khủng bố tinh thần của các nạn nhân. Sau 12 năm kể từ vụ án tại trại trẻ mồ côi nhà Mullins,
                Annabelle (trước đó tên Janice) được nhận nuôi bởi vợ chồng Higgins. Nhưng họ đâu hay biết rằng, đứa con
                gái mình vừa mang về nhà lại chứa đựng linh hồn ma quỷ. Bẵng sau đó một thời gian, Annabelle cùng bạn
                trai gia nhập một giáo phái Satan, để rồi trong một đêm định mệnh cô đã sát hại cha mẹ nuôi của mình.
            </p>
            <div class="img">
                <img src="../../../assets/image/tinTucPhim/anabel/2.jpg" alt="">
            </div>
            <h3>The Conjuring (ra mắt năm 2013): 1968-1970</h3>
            <p><b><i>The Conjuring</i></b> (tựa Việt: Ám Ảnh Kinh Hoàng) mở đầu vào năm 1968, hai cô gái (một trong số
                đó có Debbie
                của phim Annabelle) và một chàng trai trẻ thuật lại câu chuyện của họ cho Ed và Lorraine Warren nghe về
                con búp bê tên Annabelle mà họ tin rằng đã bị ma ám. Sau đó, cặp vợ chồng pháp sư trừ tà đã xử lý xong
                vụ Annabelle và niêm phong con búp bê này trong căn phòng chứa những đồ vật ma ám mà họ đã xử lý trước
                đây. Ba năm sau đó, hai vợ chồng Roger và Carolyn Perron đã tìm đến Ed và Llorraine để xin giúp đỡ khi
                họ ngờ rằng một thực thể ma quỷ nào đó đang ám lên gia đình Perron. Trong khi nghiên cứu lịch sử của
                ngôi nhà, Ed và Lorraine biết rằng ngôi nhà từng thuộc về một phù thủy có tên Bathsheba – người đã hy
                sinh đứa con của mình cho quỷ dữ Satan và đã tự tử vào năm 1863 sau khi nguyền rủa những người lấy đất
                của mình.</p>
            <div class="img">
                <img src="../../../assets/image/tinTucPhim/anabel/3.jpg" alt="">
            </div>
            <h3>Annabelle Comes Home (ra mắt năm 2019): Giữa năm 1971 và 1977</h3>
            <p>Annabelle Comes Home (tựa Việt: Annabelle: Ác Quỷ Trở Về) là phần tiếp theo của bộ phim năm 2017
                Annabelle: Tạo Vật Quỷ Dữ, là phim thứ ba trong series Annabelle và là phần thứ bảy trong Vũ trụ The
                Conjuring. Theo chia sẻ từ nhà sản xuất Peter Safran, phần 3 của Annabelle sẽ là những sự kiện xảy ra
                giữa khoảng thời gian của Ám Ảnh Kinh Hoàng (1971) và Ám Ảnh Kinh Hoàng 2 (1977 – phim ra mắt năm 2016).
                Annabelle: Ác Quỷ Trở Về lấy bối cảnh sau khi búp bê ma được đưa về căn phòng chứa những đồ vật bị ám
                của nhà Warren - hai nhân vật quen thuộc của Vũ trụ The Conjuring. Lần này, cô con gái Judy Warren sẽ
                trở thành mục tiêu tấn công của búp bê ma.</p>

            <div class="img">
                <img src="../../../assets/image/tinTucPhim/anabel/4.jpg" alt="">
            </div>
            <span>Trailer của <b>Annabelle: Ác Quỷ Trở Về</b></span>
            <div class="trailer">
                <iframe width="640" height="395" src="https://www.youtube.com/embed/Rm-jr2XHr1M" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div *ngSwitchCase="4" class="tuyenDung">
            <h2>PASSION CINEMA- TUYỂN DUNG NHÂN VIÊN PHỤC VỤ KHÁCH HÀNG</h2>
            <p>RẠP CHIẾU PHIM CINESTAR HUẾ TUYỂN NHÂN VIÊN PARTIME </p>
            <b>Hình thức làm việc:</b> Parttime
            <br>
            <br>
            <b>Mô tả công việc: </b>
            <ul>
                <li>Thực hiện công việc phục vụ khách hàng.</li>
                <li>Giao dịch bán vé, bán bắp - nước, kiểm soát vé và hướng dẫn khách hàng xem phim.</li>
                <li>Làm việc bán thời gian, theo ca 6 giờ/ngày.</li>
            </ul>
            <b>Yêu cầu công việc:</b>
            <br>
            <ul>
                <li>Nam/Nữ từ 18-25 tuổi.</li>
                <li>Có tố chất, kỹ năng làm việc trong ngành dịch vụ.</li>
                <li>Siêng năng, tháo vát, trung thực.</li>
                <li>Giao tiếp tốt.</li>
                <li>Làm TẾT được</li>
                <li>Sinh viên các trường đại học không cần kinh nghiệm, chỉ cần yêu thích công việc ở Rạp phim.</li>
            </ul>
        </div>
        <div *ngSwitchCase="5">
            <h1>ĐẲNG CẤP THÚ CƯNG 2 - BỘ MẶT THẬT CỦA PET NHÀ BẠN !!!</h1>
            <div class="img">
                <img src="../../../assets/image/tinTucPhim/dangCapThuCung/1.png" alt="">
            </div>
            <p>Phim hoạt hình thứ 10 đến từ Illumination, Đẳng Cấp Thú Cưng 2, là phần tiếp theo của bom tấn hài – hoạt
                hình được phát hành năm 2016 với thành tích doanh thu cuối tuần mở màn cao nhất từ trước đến nay cho một
                thương hiệu hoạt hình gốc.</p>
            <p>Vẫn sở hữu những pha hài hước “không giới hạn” đặc trưng của hãng Illumination, phần phim mới sẽ khám phá
                đời sống tình cảm của biệt đội thú cưng, mối liên kết sâu sắc giữa chúng và các gia đình. Và quan trọng
                hơn, giải đáp câu hỏi canh cánh trong lòng mỗi người chủ: Đám thú cưng thật sự làm gì khi chúng ta không
                ở nhà?</p>

            <div class="img">
                <img src="../../../assets/image/tinTucPhim/dangCapThuCung/3.png" alt="">
            </div>
            <p>Chó Max Cộc (Patton Oswalt) đang thích nghi với nhiều thay đổi lớn trong cuộc sống của chú. Cô chủ của
                cậu nay đã kết hôn và có một cậu con trai, Liam. Max luôn lo lắng về việc bảo vệ cậu bé đến mức mắc
                chứng rối loạn âu lo. Trong chuyến đi chơi của gia đình về vùng nông trại, Max và chú chó lai Duke (Eric
                Stonestreet) chạm trán với đàn bò không thân thiện, những chú cáo hơi thù địch và một chú gà tây đáng
                sợ. Việc này càng tăng nỗi sợ của Max. May mắn thay, Max nhận được chỉ dẫn của chú chó chăn gia súc kỳ
                cựu tên Rooster (Harrison Ford trong màn ra mắt đầu tiên của ông ở một bộ phim hoạt hình), nhân vật đã
                thúc đẩy Max gạt bỏ sự lo lắng của mình, tìm ra bản năng mạnh mẽ tiềm ẩn bên trong, và cho Liam chút tự
                do.</p>

            <div class="img">
                <img src="../../../assets/image/tinTucPhim/dangCapThuCung/4.png" alt="">
            </div>
            <p>Hãy chuẩn bị tinh thần để đón nhận trận cười hả hê từ Đẳng Cấp Thú Cưng 2 nhé các fan của Cinestar
                ơi.Phim dự kiến khởi chiếu tại toàn bộ cụm rạp Cinestar từ ngày 07.06.2019.</p>

            <div class="trailer">
                <iframe width="640" height="395" src="https://www.youtube.com/embed/rNu4I5MqjPs" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div *ngSwitchCase="6">
            <h1>ĐẶC VỤ ÁO ĐEN MỘT LẦN TRỞ LẠI ĐỂ CỨU THẾ GIỚI !!
            </h1>
            <div class="img">
                <img src="../../../assets/image/tinTucPhim/dacVu/1.jpg" alt="">
            </div>
            <span>Poster chính thức của Men in Black: International không cùng phong cách với các phần phim Men in Black
                trước đây mở ra tầm nhìn mới cho thương hiệu điện ảnh này</span>
            <p>Đoạn trailer mới đã cho người xem biết rõ về tiểu sử của Đặc vụ M do Tessa Thompson thủ vai. Hóa ra, hai
                Đặc vụ Áo Đen “huyền thoại” K và J đã quên tẩy não cô 20 năm trước khiến mọi kí ức của M về tổ chức cũng
                như các sinh vật ngoài hành tinh vẫn còn nguyên vẹn. Đây chính là lí do khiến M tự nguyện gia nhập MIB
                để bảo vệ Trái Đất.</p>

            <div class="img">
                <img src="../../../assets/image/tinTucPhim/dacVu/2.jpg" alt="">
            </div>
            <span>Đặc vụ M tự nguyên gia nhập tổ chức MIB nhờ thoát được màn xóa kí ức khi còn bé</span>
            <p>Và nhiệm vụ đầu tiên của cô nàng chính là đến phân khu London dưới lệnh của Đặc vụ O (Emma Thompson) để
                điều tra nội gián – một hạt sạn nguy hiểm của tổ chức ẩn mình dưới vỏ bọc Đặc vụ Áo Đen.</p>

            <div class="img">
                <img src="../../../assets/image/tinTucPhim/dacVu/3.jpg" alt="">
            </div>
            <span>Đặc vụ O với vẻ ngoài xinh đẹp lạnh lùng nhưng tính cách khá vui vẻ và gần gũi</span>
            <p>Xui xẻo thay, cộng sự của M lại chính là Đặc vụ H (Chris Hemsworth) - một anh chàng cao to điển trai
                nhưng tính tình khá “tửng” và bất cần đời.</p>
            <div class="img">
                <img src="../../../assets/image/tinTucPhim/dacVu/3.jpg" alt="">
            </div>
            <span>Trailer</span>
            <div class="trailer">
                <iframe width="640" height="395" src="https://www.youtube.com/embed/_pE5hb8B3Sc" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>


        </div>
        <div *ngSwitchCase="7" class="tuyenDung">
            <h2>PASSION CINEMA- TUYỂN DUNG NHÂN VIÊN PHỤC VỤ KHÁCH HÀNG</h2>
            <p>RẠP CHIẾU PHIM CINESTAR HUẾ TUYỂN NHÂN VIÊN PARTIME </p>
            <b>Hình thức làm việc:</b> Parttime
            <br>
            <br>
            <b>Mô tả công việc: </b>
            <ul>
                <li>Thực hiện công việc phục vụ khách hàng.</li>
                <li>Giao dịch bán vé, bán bắp - nước, kiểm soát vé và hướng dẫn khách hàng xem phim.</li>
                <li>Làm việc bán thời gian, theo ca 6 giờ/ngày.</li>
            </ul>
            <b>Yêu cầu công việc:</b>
            <br>
            <ul>
                <li>Nam/Nữ từ 18-25 tuổi.</li>
                <li>Có tố chất, kỹ năng làm việc trong ngành dịch vụ.</li>
                <li>Siêng năng, tháo vát, trung thực.</li>
                <li>Giao tiếp tốt.</li>
                <li>Làm TẾT được</li>
                <li>Sinh viên các trường đại học không cần kinh nghiệm, chỉ cần yêu thích công việc ở Rạp phim.</li>
            </ul>
        </div>
        <div *ngSwitchCase="8">
            <h1>“TAN CHẢY” VỚI HÌNH ẢNH SIÊU BỒ CÂU CỰC KỲ ĐÁNG YÊU CỦA SPIES IN DISGUISE.</h1>
            <p>Sau hàng loạt thành công với các bom tấn hoạt hình như loạt Ice Age, Rio hay Ferdinand (2017), hãng Blue
                Sky sẽ tiếp tục trình làng Spies in Disguise (Tựa Việt: Điệp Viên Ẩn Danh) trong năm 2019 tới đây. Bộ
                phim hứa hẹn sẽ mang đến cho người xem những phút giây giải trí sảng khoái cùng nhiều bài học ý nghĩa.
            </p>
            <div class="img">
                <img src="../../../assets/image/tinTucPhim/spies/1.jpg" alt="">
            </div>
            <span>Lance Sterling chính là chàng điệp viên số một thế giới.</span>
            <p>Với nét vẽ đẹp tới từng chi tiết quen thuộc, đoạn trailer đã giới thiệu đến khán giả chàng “mật vụ cừ
                khôi nhất thế giới” Lance Sterling do Will Smith lồng tiếng. Anh chàng chính là điệp viên chuẩn “5 sao”
                với phong cách vô cùng tự tin và hào hoa trong mọi tình huống.</p>
            <div class="img">
                <img src="../../../assets/image/tinTucPhim/spies/2.jpg" alt="">
            </div>
            <span>Bộ phim hứa hẹn sẽ mang đến những pha hành động mãn nhãn.</span>
            <p>Dù phải đối đầu với người máy sát thủ hay kẻ thù to con hơn nhiều lần, Lance Sterling vẫn giữ được nét
                bảnh bao với những pha hành động vô cùng đẹp mắt. Không những thế, đồng hành với anh chính là những món
                đồ công nghệ cao hào nhoáng như bộ quét nhân dạng, siêu xe điều khiển từ xa hay chiếc áo vest có khả
                năng bay lượn.</p>
            <div class="img">
                <img src="../../../assets/image/tinTucPhim/spies/3.jpg" alt="">
            </div>
            <span>Tuy nhiên, anh chàng buộc phải chịu kiếp… bồ câu do cậu trợ lý hậu đậu biến hình.</span>
            <p>Tuy nhiên, chàng siêu điệp viên bỗng hóa thành… chim bồ câu do Walter Beckett (Tom Holland) – người
                chuyên chế tạo dụng cụ cho Lance - thực hiện. Lý do của cậu bé hết sức ngây ngô chính là:“Bồ câu là vỏ
                bọc hoàn hảo cho mọi điệp viên vì chúng có mặt khắp nơi mà chẳng bị ai để ý.”</p>
            <div class="img">
                <img src="../../../assets/image/tinTucPhim/spies/4.jpg" alt="">
            </div>
            <span>Cặp đôi trái tính trái nết này chắc chắn sẽ mang đến cho khán giả những phút giây thư giản sảng
                khoái.</span>
            <p>Dù chỉ kéo dài 2 phút nhưng đoạn clip đã khiến người xem cười nghiêng ngả bởi “cặp đôi hoàn cảnh” Lance
                Sterling và Walter Beckett. Một người là siêu điệp viên trong lốt bồ câu, một kẻ thì hậu đậu khó lượng,
                bộ phim hứa hẹn sẽ mang tới cho khán giả nhiều tràng cười sảng khoái.</p>
            <div class="img">
                <img src="../../../assets/image/tinTucPhim/spies/5.jpg" alt="">
            </div>
            <p>Spies in Disguise khởi chiếu trên toàn quốc từ ngày 30.08.2019.</p>
            <div class="trailer">
                <iframe width="640" height="395" src="https://www.youtube.com/embed/9eY2W7uUkDE" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<div class="scroll">
    <img style="width: 100%" src="../../../assets/image/loaiPhim/scroll-down.png" alt="">
</div>
<app-footer></app-footer>