<app-header></app-header>
<app-slider></app-slider>
<app-dat-ve-home></app-dat-ve-home>
<div class="scroll">
    <img  style="width: 100%" src="../../../assets/image/loaiPhim/scroll-down.png" alt="">
</div>
<app-cong-nghe-phim class="congNghe"></app-cong-nghe-phim>
<div class="scroll">
    <img  style="width: 100%" src="../../../assets/image/loaiPhim/scroll-down.png" alt="">
</div>
<div class="bgChung">
    <app-loai-phim></app-loai-phim>
    
    <div class="uuDaiTinTuc">
        <div class="containerUuDaiTinTuc">
            <app-uu-dai></app-uu-dai>
            <div class="promotionTinTuc2">
                <h3>TIN TỨC</h3>
            </div>
            <app-tin-tuc></app-tin-tuc> 
            <div class="promotionTinTuc">
                <h3>TIN TỨC</h3>
                <img src="../../../../assets/image/uuDaiTinTuc/tinTuc/iocn-news.png" alt="">
            </div>
        </div>
    </div>
    <app-footer></app-footer> 
</div> 